.CuriosityCard{
    &__card img{
        height: 40vh;
        width: 40vh;
        border-radius: 0.25rem;
        list-style-type: none;
        margin: 1rem;
        padding-left: 0;
        box-shadow: 2px 2px 3px grey;
        transition: 1s;
        &:hover{
            z-index: 2;
            box-shadow: 0 0 0  transparent;
            transform: scale(1.1);
        }
    }
}