html{
    
/* Ancho */::-webkit-scrollbar {width: 4px;height: 4px;}
/* Pista */::-webkit-scrollbar-track {background: white; }
/* Barrita */::-webkit-scrollbar-thumb {background: rgb(255, 198, 55); }
/* Barrita hover */ ::-webkit-scrollbar-thumb:hover {background: #bbb;width: 7px;height: 7px; }
/* Barrita active */ ::-webkit-scrollbar-thumb:active {background: goldenrod;width: 7px;height: 7px; }
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.Home{
    &__title{
        width: calc(100vw - 7px);
    }
    &__link{
        display: flex;
        flex-direction: row;
        &__div{
            padding: 0 0 5rem 0;
            width: 15rem;
            height: 15rem;
            margin:1rem;
            transition: .5s;
            border-radius: 5px 5px 20px 20px;
            box-shadow: 0 5px 10px rgba(0,0,0,.3);
            background-color: rgb(246, 246, 246);
            &:hover{
            box-shadow: 0 1px 3px rgba(0,0,0,.5);
            transform: scale(.9);
            }
            img{
                border-radius: 5px 5px 0 0;
                width: 15rem;
                height: 15rem;
                object-fit: cover;
                filter: contrast(1.4);
            }
      
        }
  
        img:hover  {
            top: 1.5rem;
        }
    }}